In [1]:
from tester import get_response

In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
help(get_response)

Help on function get_response in module tester:

get_response(title_, summary_)
    With is_analyst
    :param title_:
    :param summary_:
    :return:

In [4]:
new_df = pd.read_csv('data/data.tsv', sep='\t', index_col=['event_id','loop_title'])

In [5]:
df = new_df.copy()

In [6]:
df['title'] = df['title'].str.lower().str.strip()
df['summary'] = df['summary'].str.lower().str.strip()

In [7]:
df['label'] = np.where(df['title'].str.contains("entry level|entry-level|jr", case=False, na=False), "entry", np.nan)

In [8]:
sample_df = df.sample(150).copy()
# df['new_summ'] = df['summary'].str.replace(r'\n+', ' ', regex=True)

In [9]:
sample_df

,,title,summary,label
event_id,loop_title,,,
828fc7e99bef463e84a604a1f29e4a15,Data Specialist,singapore cdo - data governance specialist - a...,the singapore cdo data governance specialist s...,nan
eedbe812facc4358ba8b287c46bc0565,Analyst,support analyst,problem solvers. proactive protectors. relentl...,nan
ee5d837198d644b8ad24075d7ae0fa1f,Data analyst,data analyst (remote),synergisticit is aware that the job market is ...,nan
ac3054fbba7c4e74b7f70c9ae5de1b49,Analyst,help desk support analyst,dice is the leading career destination for tec...,nan
563155a907bd4b1c8e9b50b5ff1f5414,Analyst,european distressed product desk analyst,european distressed product desk analyst \n\n\...,nan
...,...,...,...,...
1c7cabdc3ddd4fa482206bad48729c49,Analyst,credit analyst -equipment finance - remote | wfh,"about us\nat the company, we're committed to e...",nan
12ee596e789d4ecfb36c786b5ea6e532,Analyst,"senior associate, subcontracts - remote (palm ...","description:\njob title: senior associate, sub...",nan
57dd654bc62e465d883889a9bdff96bf,Data Specialist,junior data analyst,junior data analyst - us/canada residents only...,nan
6371d42e7efd4a4b9af97ffd6def98bc,Analyst,"associate, guest experience",nordik spa-nature \nfor those who dream of bei...,nan
4012c466a2cc4861b13bc89447252041,Data Specialist,"data entry specialist, salesforce",compensation range:\n$40-45/hr\nwelcome to int...,nan

In [10]:
for index, details in sample_df.iterrows():

    response = get_response(details['title'], details['summary'])
    json_obj = json.loads(response.choices[0].message.content)
    sample_df.loc[index, "response"] = response.choices[0].message.content
    sample_df.loc[index, "is_entry"] = json_obj['is_entry']
    sample_df.loc[index, "is_analyst"] = json_obj['is_analyst']
    sample_df.loc[index, "specifics"] = json_obj['specifics']
    sample_df.loc[index, "response"] = json_obj['level']
    sample_df.loc[index, "tokens_in"] = response.usage.prompt_tokens
    sample_df.loc[index, "tokens_out"] = response.usage.completion_tokens
    print(json_obj)

{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'help desk support', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'sales operations specialist', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.8}
{'is_entry': True, 'is_analyst': False, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 100}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.7}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'Epic Certified HIM Coding Analyst', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'legal researcher', 'level': 0.2}
{'is_entry': True, 'is_analyst': False, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.8}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'master data manager', 'level': 0.2}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'clinical data manager', 'level': 0.2}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.8}
{'is_entry': True, 'is_analyst': False, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'logistics', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'mobile-gaming company', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.8}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'conduct risk function', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.8}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'financial analysis/modeling with data analysis in the financial lending or mortgage industry', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.8}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'sports facility and / or customer service environment', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.8}
{'is_entry': True, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'operations im specialist', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': 'financial analyst/business analyst', 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'dental care', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'sales', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': 'legal or other professional services firm / partnership structure', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'mortgage servicing', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.2}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'contracting officer/specialist', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}

{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'underwriting data analyst', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.8}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.8}
{'is_entry': False, 'is_analyst': True, 'specifics': 'finance systems support', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'asset management or financial markets', 'level': 0.8}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'data analyst/scientist', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.8}
{'is_entry': False, 'is_analyst': False, 'specifics': 'risk management, data governance, business intelligence and analytics', 'level': 0.2}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.3}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': 'mortgage, lending, real estate, or banking background', 'level': 0.7}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}
{'is_entry': False, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': False, 'is_analyst': False, 'specifics': 'subcontracts experience', 'level': 0.8}
{'is_entry': True, 'is_analyst': True, 'specifics': None, 'level': 0.9}
{'is_entry': True, 'is_analyst': False, 'specifics': 'customer service', 'level': 0.8}
{'is_entry': False, 'is_analyst': False, 'specifics': 'None', 'level': 0.9}

In [14]:
sample_df[
    (sample_df['is_analyst']==1) &
    (sample_df['is_entry']==1)
]

,,title,summary,label,response,is_entry,is_analyst,specifics,tokens_in,tokens_out
event_id,loop_title,,,,,,,,,
ee5d837198d644b8ad24075d7ae0fa1f,Data analyst,data analyst (remote),synergisticit is aware that the job market is ...,nan,0.9,True,True,None,1119.0,28.0
65fe8cfbc63d48cc8a5c8fd81ba3e1e6,Data analyst,data modelling analyst internship,heineken is looking for you!\n\n\nevery day we...,nan,0.9,True,True,None,1463.0,34.0
51a5e895f9824b9eaa33238c702857eb,Data analyst,data analyst - surgery - scientific core,"...job summary \r\n at houston methodist, the ...",nan,0.9,True,True,None,265.0,29.0
77e26dddf45f4096a32abcbfe3de2234,Analyst,junior analyst,"a competitive starting salary of £30,000.\n\nd...",nan,0.9,True,True,None,1131.0,34.0
90242c0e557649009a0168f6954cfaed,Business analyst,business system analyst,position summary: \n\n\n\n\nto develop applica...,nan,0.9,True,True,None,919.0,28.0
89543e4ad4c44934a07649c80836872b,Analyst,infrastructure finance - analyst/associate,"my client, a global european investment bank, ...",nan,0.9,True,True,None,689.0,34.0
2496b572bac74b01ab92c909a1d71df9,Analyst,"systems analyst (entry level), us/canada","systems analyst (entry level), us/canada resid...",entry,0.9,True,True,None,788.0,34.0
facfbc8d457d443cbc79d65a021aa107,Analyst,service desk quality analyst,dmi is a global professional services company ...,nan,0.9,True,True,None,1289.0,28.0
b2b3b6de1ddf4127befd41eb5817e34c,Analyst,qc analyst (temp position),"at cepheid, we are passionate about improving ...",nan,0.9,True,True,None,952.0,28.0
9cd09514e08f42caa99ad0bb2e4c1188,Analyst,financial analyst,"driven, empowering, transformative. academic p...",nan,0.9,True,True,None,1021.0,34.0
29a35ba7afb34af3899e0fef521b89b7,Business analyst,technical business analyst,job title: junior technical business analyst \...,nan,0.9,True,True,None,639.0,34.0
22353cec04ae43e0b0476abbb7a454fb,Data analyst,data analyst,poten & partners is looking for a data analyst...,nan,0.9,True,True,None,675.0,28.0
6e7f5ecd4cc645e4a8a0f9f03eaea364,Analyst,pricing analyst,etraveli group is the globally leading company...,nan,0.9,True,True,None,1172.0,29.0
b60ad3fced604255b14b0d970b659676,Analyst,graduate responsible investment analyst,at just we encourage a flexible and agile work...,nan,0.9,True,True,None,1315.0,34.0
fd2f4c7c34fe47edbe4044df91543624,Analyst,analyst intern - summer 2024,do you want to challenge yourself as an analys...,nan,0.9,True,True,None,1002.0,28.0
50a86691bd55498591974d6abea0fa0e,Analyst,analyst / associate - tmt finance,"my client, a leading investment bank is lookin...",nan,0.9,True,True,None,462.0,34.0
9d826fa254db4a8da6a590824cd59ecd,Analyst,technical analyst - 100% remote within tx,job/position descriptionunder the general supe...,nan,0.9,True,True,None,870.0,34.0
474783109abc4830a097e11d992475a4,Analyst,digital analyst with media,dice is the leading career destination for tec...,nan,0.9,True,True,None,523.0,34.0
3d2c447eb0394c6ebf0ace43466222ed,Analyst,qa assurance analyst (entry level),"qa assurance analyst (entry level), \nus/canad...",entry,0.9,True,True,None,754.0,28.0
30041c28b9344aeb941aecbcc003205e,Data manager,"entry-level data scientist, us/canada","entry-level data scientist, us/canada resident...",entry,0.9,True,True,None,859.0,28.0
adb19fb046944edc92a138bc7a82280a,Analyst,"seb trainee programme: quant analyst, ficc mar...",last application day 2023-12-06\n\n\nare you i...,nan,0.9,True,True,None,1462.0,34.0
ceff58d0912e4b1a8eac6dfb9cf6fe4d,Analyst,business analyst - consultant,we help our clients design and deliver digital...,nan,0.9,True,True,None,880.0,35.0
4ea8f86a0eef4be9808de8e334166dcf,Analyst,2024 blackstone real estate debt strategies as...,blackstone is the world’s largest alternative ...,nan,0.9,True,True,None,2078.0,35.0
093bd6523ba641fe9210e081aaf8d99a,Analyst,"italian speaking european investment analyst ,...","european investment analysts x 2, tier one glo...",nan,0.9,True,True,None,596.0,35.0
9bc92e14e8df47bfb223d43f4aa26b06,Data analyst,data analyst,"medistrava consulting is part of inizio, a glo...",nan,0.9,True,True,None,935.0,34.0
3949c7489a9246168321cfc2eb7026ab,Analyst,sharepoint analyst (local to nc only),dice is the leading career destination for tec...,nan,0.9,True,True,None,1253.0,35.0
e16d40469c23483e897a3beba4f47ce7,Analyst,legal it tester / test analyst,legal it tester / test analyst \n\nmy client i...,nan,0.9,True,True,legal or other professional services firm / pa...,502.0,37.0
46357b2204504f8db52389c648ed512e,Data analyst,software engineer/data analyst,"introduction\ngiga storage is a developer, inv...",nan,0.9,True,True,None,1154.0,34.0
d5fd2f38bbfd4c6fa478b85cd0f8598d,Analyst,junior fp&a analyst - insurance broker,miryco is currently working with a leading ins...,nan,0.9,True,True,None,666.0,35.0
801c6ed486f34e0592b6af64587e0213,Analyst,finance ar analyst - remote | wfh,join our innovative team in the dallas-fort wo...,nan,0.9,True,True,None,943.0,34.0
241374b92e57401dbd337acc4fe84345,Analyst,help desk technical support analyst,description\ncompany description:\na square gr...,nan,0.9,True,True,None,1170.0,28.0
9f448a26a66b42de8343612d2ac205ba,Analyst,service desk analyst (6 month ftc),who we are\nquintessentially british; distinct...,nan,0.9,True,True,None,1247.0,28.0
7967ec848a8a42b18d60efec2e2fa398,Data analyst,jr. data business intelligence analyst,this is a remote position.\n job title:\n jr. ...,entry,0.9,True,True,None,676.0,34.0
66d440682e99475f856713439e110632,Data manager,junior data scientist engineer - us residents,junior data scientist engineer - us residents ...,nan,0.9,True,True,None,756.0,28.0
bc8041efdc5841f19c5db30d8cb58bec,Analyst,quality assurance analyst,dice is the leading career destination for tec...,nan,0.9,True,True,None,678.0,28.0
57dd654bc62e465d883889a9bdff96bf,Data Specialist,junior data analyst,junior data analyst - us/canada residents only...,nan,0.9,True,True,None,935.0,28.0

In [ ]:
sample_df['label'] = np.where(sample_df['title'].str.contains("entry level|entry-level|jr", case=False, na=False), True, Falsese)

In [ ]:
from sklearn.metrics import classification_report
sample_df['label'].unique()

In [ ]:
sample_df['is_entry'].unique()

In [ ]:
sample_df[sample_df['is_entry']!=sample_df['label']]

In [ ]:
summ = sample_df[sample_df['title']=='venture outreach associate']['summary'].iloc[0]

In [ ]:
title = "venture outreach associate"

In [ ]:
{
"job_title": title,
"job_summary": summ
}

In [ ]:
print("You are a helpful assistant designed to output JSON, you will receive a JSON object that looks like this:\n{\n\"job_title\": a title (string),\n\"job_summary\": the description of the job (string)\n}\n\nYour output JSON should look like this:\n{\n\"is_entry\": boolean,\n\"specifics\": string,\n\"level\": float\"\n}\n\n\"is_entry\" represents if this job is entry-level.\n\"specifics\" represent the title name of any past role that the candidate must have that is not an analyst (examples - stock trader, dentist, marketing manager); this can be None.\n\"level\" - how sure are you with the decision that this is an entry-level position")